<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>
      <%= pageTitle %>
   </title>
   <link rel="stylesheet" href="/css/main.css">
   <link rel="stylesheet" href="/css/item.css">
</head>

<body>
   <%- include('../attached/navi.ejs') %>

      <main>
         <% if (arts.length> 0) { %>
            <div class="grid">
               <% for (let article of arts) { %>
                  <article class="card item-item">
                     <header class="card__header">
                        <h1 class="item__title">
                           <%= article.title %>
                        </h1>
                     </header>
                     <div class="card__image">
                        <img src="" alt="<%= article.title %>" />
                     </div>
                     <div class="card__content">
                        <h2 class="item__price">
                           <%= article.price %> €
                        </h2>
                        <p class="item__description">
                           <%= article.description %>
                        </p>
                     </div>
                     <div class="card__actions">
                        <a href="/admin/edit-article/<%= article.id %>?edit=true" class="btn">Muokkaa</a>
                        <form action="/admin/delete-article" method="POST">
                           <input type="hidden" value="<%= article.id %>" name="articleId">
                           <button class="btn" type="submit">Poista</button>
                        </form>
                     </div>
                  </article>
                  <% } %>
            </div>
            <% } else { %>
               <h1>No products found</h1>
               <% } %>
      </main>
</body>

</html>