<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>
      <%= pageTitle %>
   </title>
   <link rel="stylesheet" href="/css/main.css">
   <link rel="stylesheet" href="/css/form.css">
   <link rel="stylesheet" href="/css/item.css">
</head>

<body>
   <%- include('../attached/navi.ejs') %>
      <main>
         <form class="item-form" action="/admin/<% if (editing) { %>edit-article<% } else { %>add-article<% } %>" method="POST">
            <div class="form-control">
               <label for="title">Title</label>
               <input type="text" name="title" id="title" value="<% if (editing) { %><%= article.title %><% } %>">
            </div>
            <div class="form-control">
               <label for="image">Picture</label>
               <input type="text" name="image" id="image" value="<% if (editing) { %><%= article.image %><% } %>">
            </div>
            <div class="form-control">
               <label for="price">Price</label>
               <input type="number" name="price" id="price" step="0.01" value="<% if (editing) { %><%= article.price %><% } %>">
            </div>
            <div class="form-control">
               <label for="description">Description</label>
               <textarea name="description" id="description" row="5"><% if (editing) { %><%= article.description %><% } %></textarea>
            </div>
            <% if (editing) { %>
               <input type="hidden" value="<%= article.id %>" name="articleId">
               <% } %>
                  <button class="btn" type="submit">
                     <% if (editing) { %>Edit<% } else { %>Add product<% } %>
                  </button>
         </form>
      </main>
</body>

</html>