<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>
      <%= pageTitle %>
   </title>
   <link rel="stylesheet" href="/css/main.css">
   <link rel="stylesheet" href="/css/cart.css">
</head>

<body>
   <%- include('../attached/navi.ejs') %>
      <main>
         <% if (articles.length> 0) { %>

            <ul class="cart__item-list">
               <% articles.forEach(p=> { %>
                  <li class="cart__item">
                     <p>
                     <h1>
                        <%= p.title %>
                     </h1>
                     <h2>M채채r채:
                        <%= p.cartItem.quantity %>
                     </h2>
                     </p>
                     <form action="/delete-cart-item" method="POST">
                        <input type="hidden" value="<%= p.id %>" name="articleId">
                        <button class="btn danger" type="submit">Poista</button>
                     </form>
                  </li>
                  <% }) %>
            </ul>
            <div class="centered">
               <form action="/create-order" method="POST">
                  <button class="btn" type="submit">Tilaa</button>
               </form>
            </div>
            <% } else { %>
               <h1>Ostoskori on tyhj채</h1>
               <% } %>
      </main>
</body>

</html>